<div class="header">
    <div class="title">
        <h1>Ordens de compras de sua carteira de clientes.</h1>
    </div>
    <div class="sub-title">
        <h4>Esta página possui as informações específicas da ordem de compra</h4>
    </div>
    <table>
        <thead>
            <tr>
                <th scope="col">Ação</th>
                <th scope="col">Referência</th>
                <th scope="col" colspan="2">Descrição</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr>
                <th scope="row">
                    <div class="button-group"><button>Comprar</button></div>
                </th>
                <td>Monitoramento:</td>
                <td colspan="2">{{parecerAnalise}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Propriedade:</td>
                <td>{{idPropriedade}}</td>
                <td>{{tipoPropriedade}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Produtor:</td>
                <td colspan="2">{{idprodutor}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Vinculo:</td>
                <td colspan="2">{{tipoVinculoProdutor}}</td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</div>